<div
  class="parent container-fluid pt-2"
  style="
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPuBbzA7ebyFTVexDUHuD3SqWRSP1w78oFTA&usqp=CAU'); ;
  "
>
  <div class="row w-75 m-auto mb-4">
    <div class="w-100">
      <h1 class="text-center display-2">Boards</h1>
    </div>
  </div>

  <div class="routes container-fluid">
    <div
      class="board w-75 m-auto mb-2 p-3 d-flex justify-content-space-between align-items-center"
    >
      <div class="w-100">
        <h1>Board title</h1>
        <span>Description: description</span>
      </div>

      <div>
        <i class="bi bi-trash-fill"></i>
      </div>
    </div>
    <div
      class="board w-75 m-auto mb-2 p-3 d-flex justify-content-space-between align-items-center"
    >
      <div class="w-100">
        <h1>Board title</h1>
        <span>Description: description</span>
      </div>

      <div>
        <i class="bi bi-trash-fill"></i>
      </div>
    </div>
  </div>
</div>
