<div class="welcome-header" *ngIf="headerSwitcher === 'welcome'">
  <div class="container">
    <nav
      class="navbar navbar-light navbar-expand-md justify-content-center bg-light fixed-top"
    >
      <a href="/" class="navbar-brand d-flex w-50 mr-auto">{{
        "HOME.TITLE" | translate
      }}</a>
      <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
        <div class="selectLanguage">
          <button
            class="btn btn-secondary"
            id="btnLeft"
            (click)="translate.use('en')"
          >
            <span class="flag-icon flag-icon-us me-1"></span>
            {{ "BUTTON.LAN.EN" | translate }}
          </button>
          <button
            class="btn btn-secondary"
            id="btnRight"
            (click)="translate.use('ru')"
          >
            <span class="flag-icon flag-icon-ru me-1"></span>
            {{ "BUTTON.LAN.RU" | translate }}
          </button>
        </div>
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
          <li class="nav-item">
            <button class="btn btn-primary" (click)="onLogin()">
              <i class="bi bi-person"></i
              >{{ "BUTTON.REGISTER.LOGIN" | translate }}
            </button>
          </li>
          <li class="nav-item">
            <button class="btn btn-primary" (click)="onSignUp()">
              <i class="bi bi-box-arrow-in-right"></i
              >{{ "BUTTON.REGISTER.SIGNUP" | translate }}
            </button>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

<!-- ******************************************************************************************* -->

<div class="board-header" *ngIf="headerSwitcher === 'board'">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Khon PMA</a>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div class="row w-100 align-items-center">
          <!-- search form -->
          <div class="col-lg-4 d-grid gap-2 d-md-flex justify-content-center">
            <form class="d-flex">
              <input
                class="form-control me-2 w-60"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn btn-secondary" type="submit">
                {{ "BOARDHEADER.SEARCH" | translate }}
              </button>
            </form>
          </div>
          <!-- Localization -->
          <div
            class="col-lg-3 dropdown d-grid gap-2 d-md-flex justify-content-md-start"
          >
            <button
              class="btn me-md-2 bigger-font"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bi bi-globe"></i>
              {{ "BOARDHEADER.LANGUAGE" | translate }}
            </button>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item"
                  ><span class="flag-icon flag-icon-us me-1"></span>
                  <span (click)="translate.use('en')">{{
                    "BUTTON.LAN.EN" | translate
                  }}</span></a
                >
              </li>
              <li>
                <a class="dropdown-item"
                  ><span class="flag-icon flag-icon-ru me-1"></span>
                  <span (click)="translate.use('ru')">{{
                    "BUTTON.LAN.RU" | translate
                  }}</span></a
                >
              </li>
            </ul>
          </div>

          <!-- add new board -->
          <div
            class="col-lg-2 dropdown d-grid gap-2 d-md-flex justify-content-md-start align-items-center"
          >
            <i
              class="bi bi-plus-square-dotted"
              (click)="openModal('custom-modal-1')"
            ></i>
            <span>{{ "BOARDHEADER.ADD" | translate }}</span>
          </div>

          <!-- Username, logout and edit user info -->
          <div
            class="col-lg-3 dropdown d-grid gap-2 d-md-flex justify-content-md-end"
          >
            <button
              class="btn me-md-2 bigger-font"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ "BOARDHEADER.USERNAME" | translate }}
              <i class="bi bi-person-circle"></i>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item">{{
                  "BOARDHEADER.EDIT" | translate
                }}</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="onLogOut()">{{
                  "BOARDHEADER.LOGOUT" | translate
                }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <app-modals id="custom-modal-1">
    <form id="board-modal">
      <label for="name"><span>*</span>Title</label>
      <input type="text" name="title" id="title" placeholder="title" />
      <br />
      <div
        class="container d-flex align-items-center justify-content-md-end mt-4"
      >
        <button class="btn btn-primary" type="submit" required>Submit</button>
        <button
          class="btn btn-danger ms-2"
          (click)="closeModal('custom-modal-1')"
        >
          Close
        </button>
      </div>
    </form>
  </app-modals>
</div>
