@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.parent {
  background-repeat: no-repeat;
  background-size: cover;

  min-height: calc(100vh - 236px);

  background: url("https://cdn1.vectorstock.com/i/1000x1000/13/40/todo-list-seamless-pattern-universal-background-vector-7561340.jpg");
}
.parent .board-main h1,
p {
  font-weight: bold;
}

/*adding a horizontal scrollbar*/

/*------------------------------*/
.container {
  overflow-x: auto;
  margin: auto;
}

.container .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  max-height: 400px;
  width: 90%;
  margin: auto;
}

.board {
  flex: 0 0 300px;
  width: 300px; /* or any other width you prefer */
  margin-right: 10px; /* or any other margin you prefer */
  background-color: #fff;
  height: 360px;
  padding: 10px;
  overflow: auto;
  box-sizing: border-box;
}
/* drag and drop animation style */
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.row:last-child {
  border: none;
}

.board.cdk-drop-list-dragging .row:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.row .board:hover {
  cursor: move;
  box-shadow: 8px 8px 2px 1px #96a39b;
  transition: all 1s ease;
}
.row .board i.bi-trash3:hover {
  cursor: pointer;
}
.row .board .col-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row .board .col-header i {
  font-size: 1.3em;
}
.row .board .col-header i:hover {
  cursor: pointer;
}
.row .board .board-task-content {
  width: 100%;
  height: 80px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: darkgray;
  margin-bottom: 5px;
}
.bi-plus-circle,
.bi-plus-square-dotted {
  font-size: 2.2em;
}
.bi-plus-circle,
.bi-plus-square-dotted:hover {
  cursor: pointer;
}

#column-delete button {
  padding: 3px 12px;
  margin-right: 10px;
}
#column-delete p {
  margin-bottom: 15px;
}
#column-delete button.submit {
  background-color: red;
}
.col-header {
  margin-bottom: 10px;
  border-bottom: 2px solid #000;
  padding: 5px;
}
.col-header h3 {
  font-weight: bold;
}

.col-header h3:hover {
  cursor: pointer;
  color: #f09127;
  transition: all ease 0.5s;
}

#add-column button {
  padding: 4px 6px;
}
#add-column label {
  margin-right: 10px;
}
#add-column input {
  padding: 3px 5px;
}

#loadingColumns {
  min-height: calc(100vh - 236px);
  width: 100%;
  background-color: azure;
  display: flex;
  align-items: center;
  justify-content: center;
}
