@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.parent {
  background-repeat: no-repeat;
  background-size: cover;

  min-height: calc(100vh - 236px);

  background: url("https://cdn1.vectorstock.com/i/1000x1000/13/40/todo-list-seamless-pattern-universal-background-vector-7561340.jpg");
}
.parent .board-main h1,
p {
  font-weight: bold;
}

/*adding a horizontal scrollbar*/

/*------------------------------*/
.container {
  overflow-x: auto;
  margin: auto;
}

.container .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  max-height: 400px;
  width: 90%;
  margin: auto;
}

.board {
  flex: 0 0 300px;
  width: 300px; /* or any other width you prefer */
  margin-right: 10px; /* or any other margin you prefer */
  background-color: #fff;
  height: 360px;
  padding: 10px;
  overflow: auto;
}

.row .board:hover {
  cursor: move;
}
.row .board i.bi-trash3:hover {
  cursor: pointer;
}
.row .board .col-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row .board .col-header i {
  font-size: 1.3em;
}
.row .board .col-header i:hover {
  cursor: pointer;
}
.row .board .board-task-content {
  width: 100%;
  height: 80px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: darkgray;
  margin-bottom: 5px;
}
.board-add {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.bi-plus-circle,
.bi-plus-square-dotted {
  font-size: 2em;
}
.bi-plus-circle,
.bi-plus-square-dotted:hover {
  cursor: pointer;
}

#column-delete button,
#task-delete button {
  padding: 3px 12px;
  margin-right: 10px;
}
#column-delete p,
#task-delete p {
  margin-bottom: 15px;
}
#column-delete button.submit,
#task-delete button.submit {
  background-color: red;
}

form {
  width: 370px;
  height: 150px;
  margin-top: 10px;
}
#add-task {
  padding-right: 45px;
}
form {
  padding: 10px 15px;
}
form label {
  margin-right: 10px;
  width: 30%;
}
form input {
  padding: 3px;
}
form button {
  padding: 3px 6px;
}
