<!-- <div
          cdkDropList
          id="{{ element.id }}"
          class="item-list"
          [cdkDropListData]="element.boardInfo"
          [cdkDropListConnectedTo]="connectedTo"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="item-box" *ngFor="let board of element.boardInfo" cdkDrag>
            <div class="board-task-content">
              <div class="board-task-info">
                <h3>{{ board.name }}</h3>
                <p>{{ board.description }}</p>
              </div>
              <div class="board-task-delete">
                <i class="bi bi-trash3" (click)="openModal('task-delete')"></i>
              </div>
            </div>
          </div>
        </div> -->
