<div
  class="container-fluid min-vh-100"
  style="
    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
    height: 100vh;
  "
>
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center">
        {{ "HOME.WELCOME1" | translate }}
        <pre>{{ "HOME.WELCOME2" | translate }}</pre>
      </h1>
      <span class="about">
        <b>Project management system</b> is an application that helps an
        individual in a team or
        <pre>group of developers achieve their goals.</pre>
      </span>
    </div>
  </div>
</div>
