<div
  class="container-fluid min-vh-100"
  style="
    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
    height: 100vh;
  "
>
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center">
        {{ "HOME.WELCOME1" | translate }}
        <pre>{{ "HOME.WELCOME2" | translate }}</pre>
      </h1>
      <span class="about">
        <b>{{ "HOME.WELCOMEABOUT" | translate }}</b>
        {{ "HOME.WELCOMEABOUT2" | translate }}
        <pre>{{ "HOME.WELCOMEGROUP" | translate }}</pre>
      </span>

      <div class="developerInfo">
        <b>{{ "HOME.DEVELOPER" | translate }}: </b>
        <span
          ><a href="https://github.com/shokhrukh1212" target="_blank"
            >Shokhrukh Karimov</a
          ></span
        >
      </div>
    </div>
  </div>
</div>
