<div class="parent">
  <div class="row m-auto">
    <h1>Board name: Todo list management</h1>
    <h3>Board description: Description</h3>
  </div>

  <!-- container of all boards -->
  <div class="container">
    <div class="row m-auto mt-2">
      <!-- Each column -->
      <div class="col board me-2 p-4 w-25">
        <div class="col-header">
          <h2>column name</h2>
          <i class="bi bi-trash3"></i>
        </div>
        <p>some description</p>
        <!-- Each task -->
        <div class="board-task-content">
          <div class="board-task-info">
            <h3>Task name</h3>
            <p>Task description</p>
          </div>
          <div class="board-task-delete">
            <i class="bi bi-trash3"></i>
          </div>
        </div>
        <div class="board-add">
          <i class="bi bi-plus-circle"></i>
        </div>
      </div>

      <!-- Each column -->
      <div class="col board me-2 p-4 w-25">
        <div class="col-header">
          <h2>column name</h2>
          <i class="bi bi-trash3"></i>
        </div>
        <p>some description</p>
        <!-- Each task -->
        <div class="board-task-content">
          <div class="board-task-info">
            <h3>Task name</h3>
            <p>Task description</p>
          </div>
          <div class="board-task-delete">
            <i class="bi bi-trash3"></i>
          </div>
        </div>
        <div class="board-add">
          <i class="bi bi-plus-circle"></i>
        </div>
      </div>
      <div class="col">
        <i class="bi bi-plus-square-dotted" title="add a new column"></i>
      </div>
    </div>
  </div>
</div>
