<div class="container-fluid">
  <nav
    class="navbar navbar-light navbar-expand-md justify-content-center bg-light fixed-top"
  >
    <a href="/" class="navbar-brand d-flex w-50 mr-auto">Project Management</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#collapsingNavbar3"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Dropdown
        </button>
        <ul class="dropdown-menu">
          <li><button class="dropdown-item" type="button">Action</button></li>
          <li>
            <button class="dropdown-item" type="button">Another action</button>
          </li>
          <li>
            <button class="dropdown-item" type="button">
              Something else here
            </button>
          </li>
        </ul>
      </div>
      <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="onLogin()"
            ><i class="bi bi-person"></i>Login</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="onSignUp()"
            ><i class="bi bi-box-arrow-in-right"></i>Sign up</a
          >
        </li>
      </ul>
    </div>
  </nav>
</div>

<!-- <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
      </li>
      <li>
        <a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a>
      </li>
    </ul>
  </div>
</nav> -->
