<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign up</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div
      class="container-fluid min-vh-100 bg-dark"
      style="
        background-image: url('https://t3.ftcdn.net/jpg/03/55/60/70/360_F_355607062_zYMS8jaz4SfoykpWz5oViRVKL32IabTP.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
      "
    >
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <h3>{{ "REGISTER.SIGNUP.MESSAGE" | translate }}</h3>

        <label for="name">{{ "REGISTER.SIGNUP.NAME" | translate }}</label>
        <input
          type="text"
          placeholder="Name"
          id="name"
          name="name"
          formControlName="name"
          [ngClass]="{
            'border border-danger':
              submitted && registerForm.controls.name.errors
          }"
          [ngClass]="{
            'border border-success': registerForm.controls.name.valid
          }"
        />
        <div
          *ngIf="submitted && registerForm.controls.name.errors"
          class="text-danger"
        >
          min 5 characters
        </div>

        <label for="email">{{ "REGISTER.SIGNUP.LOGIN" | translate }}</label>
        <input
          type="text"
          placeholder="login"
          id="login"
          name="login"
          formControlName="login"
          [ngClass]="{
            'border border-danger':
              submitted && registerForm.controls.login.errors
          }"
          [ngClass]="{
            'border border-success': registerForm.controls.login.valid
          }"
        />
        <div
          *ngIf="submitted && registerForm.controls.login.errors"
          class="text-danger"
        >
          min 5 characters, including letters and numbers
        </div>

        <label for="password">{{
          "REGISTER.SIGNUP.PASSWORD" | translate
        }}</label>
        <input
          type="password"
          placeholder="Password"
          id="password"
          name="password"
          formControlName="password"
          [ngClass]="{
            'border border-danger':
              submitted && registerForm.controls.password.errors
          }"
          [ngClass]="{
            'border border-success': registerForm.controls.password.valid
          }"
        />
        <div
          *ngIf="submitted && registerForm.controls.password.errors"
          class="text-danger"
        >
          must be at least 8 characters
        </div>

        <button routerLink="/auth/sign-up">
          {{ "REGISTER.SIGNUP.BUTTON" | translate }}
        </button>
        <p>
          {{ "REGISTER.SIGNUP.ACCOUNT" | translate }}:
          <span (click)="onLogin()"
            ><i>{{ "REGISTER.SIGNUP.CREATE" | translate }}</i></span
          >
        </p>
      </form>
    </div>
  </body>
</html>
