<!-- <footer class="container">
  <span>&copy Copyright</span>
  <a class="logo" href="https://rs.school/js-en/" target="_blank"
    ><img src="https://rs.school/images/rs_school_js.svg" alt="logo"
  /></a>
  <a href="https://github.com/shokhrukh1212" target="_blank"
    ><i class="fa-brands fa-github"></i
  ></a>
  <p>January, 2023</p>
</footer> -->

<footer class="text-center text-white" style="background-color: #0a4275">
  <!-- Grid container -->
  <div class="container p-1 pb-0">
    <!-- Section: Social media -->
    <section class="mb-1">
      <!-- Github -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://github.com/shokhrukh1212"
        role="button"
        ><i class="bi bi-github"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="bi bi-twitter"></i
      ></a>

      <!-- Google -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://www.google.com/"
        role="button"
        ><i class="bi bi-google"></i
      ></a>

      <!-- Telegram -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://t.me/khon_engineer"
        role="button"
        ><i class="bi bi-telegram"></i
      ></a>

      <!-- Course link -->
      <a
        class="btn btn-floating m-1"
        role="button"
        href="https://rs.school/js-en/"
      >
        <img
          src="https://rs.school/images/rs_school_js.svg"
          alt="RS School logo"
          class="img-fluid"
          style="width: 80px; height: 80px"
        />
      </a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2023 Copyright
  </div>
  <!-- Copyright -->
</footer>
