<div
  class="parent container-fluid pt-2"
  style="
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPuBbzA7ebyFTVexDUHuD3SqWRSP1w78oFTA&usqp=CAU');
  "
>
  <div class="row w-75 m-auto mb-4">
    <div class="w-100">
      <h1 class="text-center display-2">{{ "BOARDS.TITLE" | translate }}</h1>
    </div>
  </div>

  <div class="routes container-fluid w-75 m-auto">
    <div
      *ngFor="let board of boards"
      class="board w-100 m-auto mb-2 p-3 d-flex justify-content-space-between align-items-center"
    >
      <div
        class="w-100 board-clickable"
        (click)="onBoard(board._id, board.title)"
      >
        <h1>{{ board.title }}</h1>
      </div>

      <div>
        <i
          class="bi bi-trash-fill"
          (click)="openModal('main-route', board._id)"
        ></i>
      </div>
    </div>
  </div>
</div>

<app-modals id="main-route">
  <h3>Are you sure?</h3>
  <p>Are you sure you want to delete this board?</p>
  <button class="btn btn-danger" (click)="closeModal('main-route')">
    Cancel
  </button>
  <button class="btn btn-primary" type="submit" (click)="onDeleteBoard()">
    <span *ngIf="!isBoardDeleted">Ok</span>
    <span *ngIf="isBoardDeleted">Deleting...</span>
  </button>
</app-modals>
