@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Ubuntu:wght@300&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css");

* {
  font-family: "Ubuntu", sans-serif;
}

.navbar {
  height: 70px;
  background-color: #8da399;
}
.navbar-brand {
  font-size: 30px;
  font-family: "Lobster", cursive;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.bigger-font {
  font-size: 20px;
}
.bi-plus-square-dotted {
  font-size: 2.2em;
  cursor: pointer;
}
span {
  font-weight: bold;
}

form {
  width: 100%;
  height: 100%;
}
#board-modal {
  padding: 10px 15px;
}
#board-modal label {
  margin-right: 10px;
}
#board-modal input {
  padding: 3px;
}
.board-user-edit {
  padding: 5px;
}
