<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/boards">Khon PMA</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="row w-100 align-items-center">
        <!-- search form -->
        <div class="col-lg-4 d-grid gap-2 d-md-flex justify-content-center">
          <form class="d-flex">
            <input
              class="form-control me-2 w-60"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-secondary" type="submit">
              {{ "BOARDHEADER.SEARCH" | translate }}
            </button>
          </form>
        </div>
        <!-- Localization -->
        <div
          class="col-lg-3 dropdown d-grid gap-2 d-md-flex justify-content-md-start"
        >
          <button
            class="btn me-md-2 bigger-font"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-globe"></i>
            {{ "BOARDHEADER.LANGUAGE" | translate }}
          </button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item"
                ><span class="flag-icon flag-icon-us me-1"></span>
                <span (click)="translate.use('en')">{{
                  "BUTTON.LAN.EN" | translate
                }}</span></a
              >
            </li>
            <li>
              <a class="dropdown-item"
                ><span class="flag-icon flag-icon-ru me-1"></span>
                <span (click)="translate.use('ru')">{{
                  "BUTTON.LAN.RU" | translate
                }}</span></a
              >
            </li>
          </ul>
        </div>

        <!-- add new board -->
        <div
          class="col-lg-2 dropdown d-grid gap-2 d-md-flex justify-content-md-start align-items-center"
        >
          <i
            class="bi bi-plus-square-dotted"
            (click)="openModal('create-board')"
          ></i>
          <span>{{ "BOARDHEADER.ADD" | translate }}</span>
        </div>

        <!-- Username, logout and edit user info -->
        <div class="col-lg-3 dropdown d-flex justify-content-md-end">
          <button
            class="btn me-md-2 bigger-font"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            aria-haspopup="true"
          >
            <span *ngIf="buttonLabel">{{ buttonLabel }}</span>
            <span *ngIf="!buttonLabel"> username</span>
            <i class="bi bi-person-circle"></i>
          </button>
          <ul class="dropdown-menu board-user-edit">
            <li>
              <a class="dropdown-item">{{ "BOARDHEADER.EDIT" | translate }}</a>
            </li>
            <li>
              <a class="dropdown-item" (click)="onLogOut()">{{
                "BOARDHEADER.LOGOUT" | translate
              }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

<app-modals id="create-board">
  <form id="board-modal">
    <label for="name"><span>*</span>Title</label>
    <input
      type="text"
      name="title"
      id="title"
      placeholder="title"
      [(ngModel)]="boardTitle"
      required
    />
    <br />
    <div
      class="container d-flex align-items-center justify-content-md-end mt-4"
    >
      <button
        class="btn btn-primary"
        type="submit"
        (click)="onCreateBoard(boardTitle)"
        [disabled]="!boardTitle"
      >
        <span *ngIf="!isCreatedBoard">Ok</span>
        <span *ngIf="isCreatedBoard">Creating ...</span>
      </button>
      <button class="btn btn-danger ms-2" (click)="closeModal('create-board')">
        Close
      </button>
    </div>
  </form>
</app-modals>
