.custom-modal {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  /* z-index must be higher than .custom-modal-background */
  z-index: 1000;
}

.custom-modal-body {
  padding: 20px;
  background: #fff;
  width: 100%;
  height: 100%;
  transition: all ease 1s;
}

.custom-modal-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* semi-transparent black  */
  background-color: #000;
  opacity: 0.75;

  /* z-index must be below .custom-modal and above everything else  */
  z-index: 900;
}
