<form (submit)="$event.preventDefault()">
  <h2 mat-dialog-title>My Dialog Title</h2>
  <mat-dialog-content>
    <!-- Your dialog content here -->
    <mat-form-field appearance="fill">
      <mat-label>{{ label }}</mat-label>
      <input
        matInput
        [placeholder]="placeholder"
        [value]="value"
        (cdkAutofill)="autoFilled = $event.isAutofilled"
      />
      <mat-hint *ngIf="autoFilled">Autofilled!</mat-hint>

      <ng-content></ng-content>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="close()">Cancel</button>
    <button mat-raised-button (click)="submit()" [disabled]="!value">
      Submit
    </button>
  </mat-dialog-actions>
</form>
