@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.parent {
  background-repeat: no-repeat;
  background-size: cover;

  min-height: calc(100vh - 236px);

  background: url("https://cdn1.vectorstock.com/i/1000x1000/13/40/todo-list-seamless-pattern-universal-background-vector-7561340.jpg");
}
.parent .board-main h1,
p {
  font-weight: bold;
}
.parent .row {
  width: 85%;
}

/*adding a horizontal scrollbar*/

/*------------------------------*/

.row .board {
  background-color: #fff;
}
.row .board .col-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row .board .col-header i {
  font-size: 1.3em;
}
.row .board .col-header i:hover {
  cursor: pointer;
}
.row .board .board-task-content {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.board-add {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.bi-plus-circle,
.bi-plus-square-dotted {
  font-size: 2em;
}
.bi-plus-circle,
.bi-plus-square-dotted:hover {
  cursor: pointer;
}
